<div class="container-fluid">
    <div class="container py-4 d-flex justify-content-between">
        <h1>Users</h1>
        <div>
            <button class="btn btn-success px-4 mx-2" routerLink="/user/insert"><i class="bi bi-plus-circle"
                    height="20px" width="20px"></i>
                Insert</button>
            <button class="btn btn-secondary mx-2" routerLink="/panel"><i class="bi bi-grid-1x2-fill"></i> Back to
                panel</button>
        </div>
    </div>
    <div class="container py-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Admin Id</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th class="text-center">Update</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody *ngFor="let u of users">
                <tr>
                    <td>{{u.adminId}}</td>
                    <td>{{u.fullName}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.username}}</td>
                    <td routerLink="/user/update/{{u.adminId}}" class="text-center">
                        <button class="btn btn-primary">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger" (click)="deleteUser(u.adminId)">
                            <i class="bi bi-trash-fill icon icon-delete"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>