<div class="container-fluid">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h1>CHARTS</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="container pb-2">
                    <div class="accordion" id="sidePanelAccordion">
                        <!-- SENSORS -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="accordion-sensors-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panel-sensors" aria-expanded="false" aria-controls="panel-sensors">
                                    Sensors
                                </button>
                            </h2>
                            <div id="panel-sensors" class="accordion-collapse collapse"
                                aria-labelledby="accordion-sensors-heading" data-bs-parent="#sidePanelAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    All Sensors <i class="bi bi-file-text-fill" height="20px"
                                                        width="20px"></i>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Display a list of all sensors</p>
                                                    <a routerLink="/sensors" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    Add Sensor <i class="bi bi-plus-circle-fill" height="20px"
                                                        width="20px"></i>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Add a new sensor</p>
                                                    <a routerLink="/sensor/insert" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SENSORS LOCATIONS-->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="accordion-sensors-loc-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panel-sensors-loc" aria-expanded="false"
                                    aria-controls="panel-sensors-loc">
                                    Sensors locations
                                </button>
                            </h2>
                            <div id="panel-sensors-loc" class="accordion-collapse collapse"
                                aria-labelledby="accordion-sensors-loc-heading" data-bs-parent="#sidePanelAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    All Sensor Locations
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Display a list of all sensors locations</p>
                                                    <a routerLink="/sensorLocations" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ALL SENSORS READINGS -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="accordion-sensor-read-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panel-sensor-read" aria-expanded="false"
                                    aria-controls="panel-sensor-read">
                                    Readings
                                </button>
                            </h2>
                            <div id="panel-sensor-read" class="accordion-collapse collapse"
                                aria-labelledby="accordion-sensor-read-heading" data-bs-parent="#sidePanelAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    All Sensor Readings
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Display a list of all sensor readings</p>
                                                    <a routerLink="/sensorreadings" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- USERS -->
                        <div class="accordion-item" *ngIf="loggedUser?.admin">
                            <h2 class="accordion-header" id="accordion-users-heading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panel-users" aria-expanded="false" aria-controls="panel-users">
                                    Users
                                </button>
                            </h2>
                            <div id="panel-users" class="accordion-collapse collapse"
                                aria-labelledby="accordion-users-heading" data-bs-parent="#sidePanelAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    All Users <i class="bi bi-file-text-fill" height="20px"
                                                        width="20px"></i>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Display a list of all users</p>
                                                    <a routerLink="/users" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    Add User <i class="bi bi-plus-circle-fill" height="20px"
                                                        width="20px"></i>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Add a new user</p>
                                                    <a routerLink="/user/insert" class="btn btn-primary">Go</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container py-2">
                    <button (click)="logout()" class="btn w-100 fs-4 fw-bold logout-btn" type="button">Log Out</button>
                </div>
            </div>
        </div>
    </div>
</div>